<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89613886874-llra01jtvd51chn9pnjeg7chj8pcna5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89613886874-llra01jtvd51chn9pnjeg7chj8pcna5d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>89613886874-91esianbd8av9k2f4rs27bnhuc7v2hjg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7A1QQYCjBPrJ1b66Xf5cOtB68KqSJEJs</string>
	<key>GCM_SENDER_ID</key>
	<string>89613886874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.appjusto.consumer.dev</string>
	<key>PROJECT_ID</key>
	<string>app-justo-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>app-justo-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89613886874:ios:f26023f6a23c45172a8623</string>
</dict>
</plist>